@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css');

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Fira Code', monospace;

$color-primary: #efffe9;
$color-secondary: #011627;
$color-positive: #00aa00;
$color-negative: #ff0000;
$color-indicator: #ccbb00;
