@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css');

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Fira Code', monospace;

$color-primary: #e71d36;
$color-secondary: #2ec4b6;
$color-bg: #efffe9;
$color-fg: #011627;
