@import 'scss/reset';
@import 'scss/variables';

html,
body,
#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-fg;

    @import 'App';
    @import 'components/ClientList/client-list';
}
