.client-list {
    &-header {
        color: $color-secondary;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: $font-secondary;
        font-weight: 500;
        margin: 1.5rem 2rem;
    }

    &--loading {
        font-family: $font-primary;
        font-size: 1.5rem;
        color: $color-indicator;
        text-transform: uppercase;
        margin: 2rem;
        text-align: center;
    }

    &--error {
        max-width: 20rem;
        font-family: $font-primary;
        font-size: 1.5rem;
        color: $color-negative;
        text-transform: uppercase;
        margin: 2rem;

        & > * {
            text-transform: none;
            font-size: 1rem;
        }
    }

    &-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 2rem 0.5rem;
        font-family: $font-primary;
        color: $color-secondary;

        &:not(:first-child) {
            border-top: 1px solid $color-secondary;
            padding-top: 1rem;
        }

        &-name {
            flex-basis: 50%;
            min-width: 50%;
        }

        &-state {
            flex-basis: 50%;
            min-width: 50%;
            text-align: right;
            font-weight: 600;

            &--connected {
                color: $color-positive;
            }

            &--disconnected {
                color: $color-negative;
            }

            &--loading {
                color: $color-indicator;
            }
        }

        &-toggle {
            margin-left: auto;
            margin-top: 0.5rem;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            border: 0;
            background-color: $color-secondary;
            color: $color-primary;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
        }

        &-devices {
            flex-basis: 100%;

            li:not(:first-child) dl {
                border-top: 1px solid rgba($color-secondary, 0.2);
                padding-top: 0.5rem;
            }

            &-list {
                display: flex;
                max-width: 20rem;
                flex-wrap: wrap;
                margin-bottom: 0.5rem;

                dt,
                dd {
                    overflow-wrap: break-word;
                    margin-top: 0.5rem;
                }

                dd {
                    flex-basis: 30%;
                    max-width: 30%;
                }

                dt {
                    flex-basis: 70%;
                    max-width: 70%;
                    text-align: right;
                }
            }
        }
    }
}
